@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,400;1,500;1,600&family=Roboto+Slab:wght@100;200;300;400&family=Roboto:wght@100;300;400;500&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-family: 'Nunito Sans', sans-serif
}
html{
    font-size: 65.5%;
    scroll-behavior: smooth;
}
.main{
    background: linear-gradient(161deg, #f7f5fb 50%, #fff 50%);
    /* height: 100vh; */
    background: #f7f5fb;
}
.header{
    display: flex;
    align-items: center;
    padding: 1% 4%;
}
.header .logo h1{
 font-size: 3.3rem;
}
.header .buttons{
    margin-left: auto;
    display: flex;
    align-items: center;
}
.header .buttons button{
    padding: .53rem 2.7rem;
    font-size: 1.5rem;
    background-color:transparent;
    color: blue;
    border: .01rem solid blue;
    border-radius: .3rem;
    cursor: pointer;
}
.header .buttons button:hover{
   background-color: blue;
   color: white;
}
.header .buttons i{
    font-size: 2.5rem;
    margin-left: 3rem;
    cursor: pointer;
    display: none;
}
.header .navbar{
    margin-left: 3rem;
}
.header .navbar a{
    font-size: 1.6rem;
    margin-left: 3rem;
}

/* home sections stylibg start from here */

.home{
   display: flex;
   padding: 1% 4%;
   align-items: center;
   gap: 1rem;
}

.home .left h1{
    font-size: 3.9rem;
    color: rgb(70, 69, 69);
    margin-bottom: 1.5rem;
}
.home .left p{
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    color: rgb(70, 70, 70);
}
.home .left button{
    padding: .8rem 2.4rem;
    font-size: 1.5rem;
    cursor: pointer;
    background: rgb(64, 64, 255);
    border: .01rem solid blue;
    color:white;
    border-radius: .3rem;
}
.home .left button:hover{
    background-color: blue;
    color: white;
    box-shadow: 0 0 1.7rem .4rem rgb(201, 201, 201);
}

.home .right img{
    width: 100%;
}


/* intro section styling start here */
.intro_box{
    display: flex;
    flex-direction: column;
    padding: 1% 4%;
}
.intro_box h1{
  text-align: center;
  font-size: 3.8rem;
  margin: 2.5rem 0;
}
.intro_box hr{
    width: 13rem;
    margin: auto;
    margin-bottom: 3.5rem;
    border: .1rem solid rgb(180, 180, 180);
}
.intro_box .intro{
    display: flex;
}
.intro_box .intro .left{
  width: 34%;
}
.intro_box .intro .left img{
    width: 100%;
    padding: 4rem;
    background-color: rgb(160, 160, 255);
    border-radius: 70% 30% 68% 32% / 31% 44% 56% 69% ;
}
.intro_box .intro .right{
    padding: 1rem;
    width: fit-content;
    margin: auto;
}
.intro_box .intro .right .content_box{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1.1rem;
}

.intro_box .intro .right .content_box i{
  color: rgb(97, 255, 97);
  color: rgb(160, 160, 255);
  font-size: 1.9rem;
}
.intro_box .intro .right button{
    padding: .8rem 2.4rem;
    font-size: 1.5rem;
    cursor: pointer;
    background:transparent;
    border: .01rem solid rgb(80, 80, 253);
    color:blue;
    border-radius: .3rem;
    margin-top: 1.5rem;
}
.intro_box .intro .right .content_box h2{
    font-weight: 500;
    font-size: 1.7rem;
    color: rgb(105, 105, 105);
}
.intro_box .intro .right button:hover{
    background-color: rgb(80, 80, 253);
    color: white;
}
/* media queries start from here ...///,, */

@media(max-width:1200px){
    .header .navbar{
        position: absolute;
        display: none;
        overflow: hidden;
        top: 100%;
        margin-left: 0%;
        background-color: white;
        width: 100%;
        left: 0;
        padding: 1% 4%;
    }
    .header .navtoggle{
        display: flex;
        flex-direction: column;
    }
    .header .navbar a{
        margin-left: 0;
        margin: 1rem 0;
    }
    .header{
        position: relative;
    }
    .header .buttons i{
        display: block;
    }
    .home{
        padding: 4%;
        flex-wrap: wrap-reverse;
    }
    .home .right{
      flex: .5;
    }
   .intro_box .intro{
    flex-direction: column;
   }
   .intro_box .intro .left{
       width: 50%;
       flex: content;
       margin-bottom: 3rem;
   }
   .intro_box .intro .right{
       width: fit-content;
       padding: 0;
       margin: 0;
   }
   html{
       font-size: 60%;
   }
}

@media(max-width:580px){
    .home .right{
        width: 30rem;
        flex: content;
    }
    .home .left{
        flex: 1;
    }
    html{
        font-size: 55%;
    }
    .intro_box .intro .left{
        width: 100%;
        flex: content;
    }
}
@media(max-width:461px){
    html{
        font-size: 52%;
    }
}

